.theme-overlay .theme-autoupdate a {
	text-decoration: none;
}

#autoupdates_column {
	min-width: 200px;
}

.autoupdates_column .plugin-autoupdate-enabled {
	color: #006505;
}

.autoupdates_column .plugin-autoupdate-enabled .disable {
	color: #a00;
}

.plugin-autoupdate-enabled,
.theme-autoupdate-enabled {
	color: #006505;
}